
.form-control:focus {
  border-color: hsl(48, 96%, 53%, 1) !important;
  box-shadow: 0 0 0 2px hsl(48, 96%, 53%, 1);
 
}
.form-select:focus {
  border-color: hsl(48, 96%, 53%, 1) !important;
  box-shadow: 0 0 0 2px hsl(48, 96%, 53%, 1);
}

input[type="radio"]:focus {
  outline: none;
  border-color: hsl(48, 96%, 53%) !important;
  box-shadow: 0 0 0 2px hsl(48, 96%, 53%);
}
